// ==============================
// Header
// ==============================

.header {
  @include clearfix;
  padding: $header-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @import '_header/logo';
  @import '_header/menu';
}

@include max-screen() {
  .header {
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;
  }
}
