// ==============================
// Social
// =============================

.social-links {
  text-align: center;

  .iconfont {
    font-size: $social-icon-font-size;
    color: $gray;

    & + .iconfont {
      margin-left: $social-link-margin-left;
    }

    &:hover {
      color: $black;
    }
  }
}
