// ==============================
// Logo
// =============================

.logo-wrapper {
  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    font-weight: 700;
    color: $black;
    letter-spacing: -0.5px;
  }
}
